@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --background-color: aliceblue;
  --primary-font-color: black;
  --secondary-font-color: rgb(68, 68, 68);
  --primary-font-size: 3rem;
  --secondary-font-size: 2.5rem;
}

body {
  background-color: var(--background-color);
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

a {
  color: var(--secondary-font-color);
}

a:hover {
  color: var(--primary-font-color);
}

nav {
  margin: 0px 10px 0px 10px;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: 900;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: end;
  }
}

.home {
  min-height: 80vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
}

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

.home .content {
  margin: 50px;
}

.heading-secondary {
  font-size: 3rem;
}

.heading-primary {
  font-size: 4rem;
  color: var(--secondary-font-color);
}

.to-top {
  position: fixed;
  bottom: 2%;
  right: 50%;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-name: bounce;
  animation-iteration-count: infinite;
  display: none;
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translate(0px);
  }
}

.to-top .fa-angles-up {
  font-size: 3rem;
  z-index: 10;
  color: var(--secondary-font-color);
}

.img img {
  height: 350px;
  border-radius: 5px;
  width: auto;
  margin: 10px;
}

.experience,
.skills,
.projects,
.contact {
  /* background-color: rgb(247, 247, 247); */
  min-height: 100vh;
  color: var(--secondary-font-color);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  z-index: -1;
}

.experience .heading-secondary {
  text-align: center;
  margin: 20px;
}

.experience .container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.experience .container .content {
  min-width: 450px;
  border: 2px solid rgb(229, 227, 227);
  border-radius: 5px;
  padding: 30px;
  margin: 10px;
}

.skills,
.projects {
  background-color: var(--background-color);
  align-items: center;
}

.skills .heading-secondary {
  text-align: center;
  margin: 20px;
}

.skills .cards {
  display: flex;
  justify-content: space-evenly;
  min-height: 50vh;
  width: 60%;
  align-items: center;
  flex-wrap: wrap;
  z-index: 1;
}

.skills .cards .card {
  text-align: center;
  height: 100px;
  width: 150px;
  border-radius: 2%;
  box-shadow: rgb(0 0 0 / 19%) 0px 5px 15px;
  margin: 10px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.skills .cards .card:hover {
  transform: scale(1.2);
}

.underline {
  text-align: center;
  border-bottom: 5px solid rgb(18, 18, 18);
  height: 10px;
  width: 80px;
}

.skills .cards .card span {
  font-weight: 500;
}

.skills .cards .html {
  color: orangered;
}

.skills .cards .css {
  color: blue;
}

.skills .cards .bootstrap {
  color: purple;
}

.skills .cards .javascript {
  color: rgb(248, 248, 19);
}

.skills .cards .reactjs {
  color: rgb(37 111 227);
}

.skills .cards .nodejs,
.mongo {
  color: green !important;
}

.skills .cards .python i {
  background: linear-gradient(181deg, blue, yellow);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.skills .cards .cpp,
.skills .mongo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0474a8;
  padding: 20px;
}

.skills .cards .cpp img {
  height: 50px;
  width: 50px;
  margin-top: 5px;
}

.skills .cards .mongo img {
  height: 150px;
  width: 100px;
  margin-top: 5px;
}

.card .fa-brands,
.fab {
  font-weight: 400;
  font-size: 50px;
  margin-top: 15px;
}

.projects .container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

.container .child-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border: 2px solid rgb(217, 215, 215);
  border-radius: 5px;
  min-width: 60vw;
  padding: 10px;
  margin: 20px;
  align-items: center;
}

.container .child-container .img img {
  height: 200px;
  width: auto;
  object-fit: contain;
  border-radius: 5px;
  margin: 5px;
}

.container .child-container .content {
  margin: 10px;
}

.container .child-container .btn {
  text-align: center;
  border: black;
  background-color: black;
  font-weight: 500;
  padding: 2px 20px;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
  border-radius: 4px;
}

.container .child-container .btn a {
  text-decoration: none;
  color: white;
}

.container .child-container .btn:hover {
  background-color: white;
  border: 2px solid black;
  color: white;
  transform: scale(1.1);
}

.container .child-container .btn a:hover {
  color: black !important;
}

.contact .logos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-linkedin,
.fa-github,
.fa-envelope {
  font-size: 5rem;
  transition: all 0.3s ease-in-out;
  margin: 0px 50px;
}

.fa-linkedin:hover {
  color: #0474a8;
  transform: scale(1.3);
}
.fa-github:hover {
  transform: scale(1.3);
}
.fa-envelope:hover {
  color: #cd2519;
  transform: scale(1.3);
}

@media (min-width: 992px) {
  .container {
    max-width: max-content;
  }
}

@media screen and (max-width: 700px) {
  .home .content .heading-secondary {
    font-size: 2.5rem;
  }
  .home .content .heading-primary {
    font-size: 3rem;
  }
  .home .img img {
    height: 250px;
  }
  .skills .cards {
    width: 100%;
  }
  .container .child-container .img img {
    width: 400px;
  }
}

@media screen and (max-width: 550px) {
  .home .content .heading-secondary {
    font-size: 2rem;
  }
  .home .content .heading-primary {
    font-size: 2.5rem;
  }

  .home .content {
    margin: 20px;
  }

  .experience .container .content {
    min-width: 350px;
  }
  .skills .cards .card {
    height: 80px;
    width: 120px;
    margin: 5px;
  }
  .skills .card .fa-brands {
    margin: 5px;
    font-size: 40px;
  }

  .container .child-container {
    padding: 0px;
  }

  .container .child-container .img img {
    width: 300px;
    margin: 0px;
  }

  .fa-linkedin,
  .fa-github,
  .fa-envelope {
    font-size: 4rem;
    transition: all 0.3s ease-in-out;
    margin: 0px 30px;
  }
}

@media screen and (max-width: 400px) {
  .home .content .heading-secondary {
    font-size: 2rem;
  }
  .home .content .heading-primary {
    font-size: 2.5rem;
  }

  .home .content {
    margin: 10px;
  }

  .experience {
    margin-top: 50px;
  }

  .experience .container .content {
    min-width: 350px;
    padding: 20px;
  }

  .projects .container .child-container .img img {
    width: 250px;
  }
  .projects .container .child-container {
    min-width: 90vw;
  }
  .fa-linkedin,
  .fa-github,
  .fa-envelope {
    font-size: 4rem;
    transition: all 0.3s ease-in-out;
    margin: 0px 20px;
  }
}

@media screen and (max-width: 370px) {
  .experience .container .content {
    min-width: 315px;
  }
}

@media screen and (max-width: 350px) {
  .experience .container .content {
    min-width: 285px;
  }
}
